<!DOCTYPE html>
<html>
<%- include ('partials/head') %>
<body>
<%- include ('partials/header') %>
    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= productosDetalle.nombre %></h1>
          <br />
          <h4><%= productosDetalle.descripcion %></h4>
          <p>
            <span class="ps-tag ps-light-grey">U$S</span>
            <%= productosDetalle.precio %>
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="<%= productosDetalle.imagen %>"
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>
      </div>
      

      <!-- Footer -->
      <%- include ('partials/footer') %>
    </div>
  </body>
</html>